.row {
  margin-left: 20px;
  color: white;
}

.row_posters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}

.row_poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 450ms;
}

.row_posterLarge {
  max-height: 250px;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge:hover {
  transform: scale(1.09);
}

.row_posters::-webkit-scrollbar {
  display: none;
}
