.navbar_full_width {
  width: 100%;
  padding: 0;
}

.header_outer_contsiner {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  height: 10vh;
  transition: all 0.5s ease-in;
  z-index: 1;
  width: 100%;
}

.header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;
  padding-left: 0;
  margin-left: 0;
}

.header_left li {
  cursor: pointer;
  padding-right: 2rem;
}

.header_right ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  padding-left: 0;
  margin-left: 0;
}

.header_right li {
  cursor: pointer;
  padding-left: 1rem;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-toggler {
  border: 2px solid white;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .navbar-collapse {
    display: flex;
    justify-content: flex-start;
  }

  .header_left ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .navbar-nav li {
    padding: 1rem;
    font-size: 1.2rem;
    width: 100%;
  }

  .navbar-nav li:hover {
    background-color: rgb(40, 40, 40);
  }

  .navbar-toggler {
    display: black !important;
  }

  .header_right ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    text-align: right;
  }

  .header_right li {
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  .header_left ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .navbar-toggler {
    display: none;
  }
}
