.footer_outer_container {
  background-color: #111;
  color: gray;
  padding: 20px 0;
  width: 100%;
}

.footer_inner_container {
  padding: 0 15px;
}

.footer_icons {
  color: #fff;
}

.footer_icons .MuiSvgIcon-root {
  font-size: 50px;
}

.footer_data ul {
  list-style: none;
  padding-left: 0;
}

.footer_data ul li {
  cursor: pointer;
  color: #bbb;
}

.footer_data ul li:hover {
  color: white;
}

.service_code .service-code-btn {
  border: 1px solid #fff;
  color: white;
  padding: 10px 15px;
}

.copy-write {
  font-size: 12px;
  color: #bbb;
}
